<div id="accountHolder">
    <div class="img-thumbnail avatarHolder" onclick="$(this).closest('body').trigger('selectAccount')" style="background-image: url('<%=account.photo_50%>');"></div>
    <div class="accountInfo" >
        <a href="/config?account=<%= account.id%>" class="btn btn-default">
            <span class="fio"><%= account.last_name%> <%= account.first_name%></span><br>
            <span class="id text-muted"><%= account.id%></span>
            <span class="glyphicon glyphicon-cog"></span>
        </a>
    </div>
    <div class="nextAccount">
        <a href="/?account=<%= account.id%>&next=true" target="_blank" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-plus"></span></a>
    </div>
</div>