<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ../parts/cabinetHead.ejs %>
</head>

<body>


<%- include ../parts/cabinetMenu.ejs %>

<div class="canvas">

    <%- include ../parts/cabinetNavbar.ejs %>

    <div class="container-fluid">
        <div class="row" id="memoryUsageHolder">

        </div>
        <div class="row">
            <div class="widget">
                <button class="btn btn-default" onclick="$('#kozelTimur').trigger('getStatistic')"><span class="glyphicon glyphicon-refresh"></span></button>
            </div>
        </div>
    </div>
</div>

<div class="hidden" id="kozelTimur"></div>

<%- include ../templates/modalInput.ejs %>

<script src="javascripts/libs.js"></script>
<script src="javascripts/app.js"></script>

<%- include ../templates/other/memoryUsage.ejs %>

</body>
</html>
