<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ../parts/cabinetHead.ejs %>
</head>
<body>

<% var processId = 'searchGroups' %>
<%- include ../parts/cabinetMenu.ejs %>

<div class="canvas">

    <%- include ../templates/overlay.ejs %>
    <%- include ../parts/cabinetNavbar.ejs %>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="well well-sm container-fluid">

                    <div class="row">
                        <!--<div class="col-xs-6 col-sm-3 col-md-2">
                            <label class="small control-label" data-toggle="tooltip" data-placement="top" title=""
                                   data-original-title="Заменить существующий список">Настройки</label>
                            <select class="selectpicker" data-style="btn-primary" data-width="100%"
                                    id="replaceSelector">
                                <option>Заменить список</option>
                                <option>Добавить в список</option>
                            </select>
                        </div>-->
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <div class="form-group">
                                <label class="small control-label" data-toggle="tooltip" data-placement="top" title=""
                                       data-original-title="Заменить существующий список">Строка поиска</label>
                                <input type="text" class="form-control" id="q" value="Music">
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <div class="form-group">
                                <label class="small control-label" data-toggle="tooltip" data-placement="top" title=""
                                       data-original-title="Заменить существующий список">Тип сообщества</label>

                                <div>
                                    <select class="selectpicker" data-width="100%" id="type">
                                        <option>Группа</option>
                                        <option>Публичная страница</option>
                                        <option>Событие</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <div class="form-group">
                                <label class="small control-label" data-toggle="tooltip" data-placement="top" title=""
                                       data-original-title="Заменить существующий список">Количество</label>

                                <div class="input-group spinner full-width">
                                    <input type="text" class="form-control" id="count" value="20" max="1000">

                                    <div class="input-group-btn-vertical">
                                        <button class="btn btn-default" type="button"><i
                                                    class="glyphicon glyphicon-chevron-up"></i></button>
                                        <button class="btn btn-default" type="button"><i
                                                    class="glyphicon glyphicon-chevron-down"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <div class="form-group">
                                <label class="small control-label" data-toggle="tooltip" data-placement="top" title=""
                                       data-original-title="Заменить существующий список">Оффсет</label>

                                <div class="input-group spinner full-width">
                                    <input type="text" class="form-control" id="offset" value="0" max="1000">

                                    <div class="input-group-btn-vertical">
                                        <button class="btn btn-default" type="button"><i
                                                    class="glyphicon glyphicon-chevron-up"></i></button>
                                        <button class="btn btn-default" type="button"><i
                                                    class="glyphicon glyphicon-chevron-down"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <div class="form-group">
                                <label class="small control-label" data-toggle="tooltip" data-placement="top" title=""
                                       data-original-title="Заменить существующий список">Количество участников,
                                    от</label>

                                <div class="input-group spinner full-width">
                                    <input type="text" class="form-control" id="minMembersCount"
                                           value="10">

                                    <div class="input-group-btn-vertical">
                                        <button class="btn btn-default" type="button"><i
                                                    class="glyphicon glyphicon-chevron-up"></i></button>
                                        <button class="btn btn-default" type="button"><i
                                                    class="glyphicon glyphicon-chevron-down"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <label>Страна</label>
                            <% include ../parts/countryDropdown %>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <div class="form-group">
                                <label class="small control-label" data-toggle="tooltip" data-placement="top" title=""
                                       data-original-title="Искать среди друзей или глобально">Город</label>
                                <input class="form-control" data-provide="typeahead" data-delay="1000" data-type="city"
                                       data-auto-select="true" type="typeahead" placeholder="Город"
                                       id="city">
                            </div>
                        </div>
                    </div>


                    <div class="row ">
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <div class="checkbox">
                                <input type="checkbox" id="isOpened">
                                <label for="isOpened">
                                    Открытая группа
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <div class="checkbox">
                                <input type="checkbox" id="isOpenWall">
                                <label for="isOpenWall">
                                    Открытая стена
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <div class="checkbox">
                                <input type="checkbox" id="isCanPost">
                                <label for="isCanPost">
                                    Можно постить
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <div class="checkbox">
                                <input type="checkbox" id="isCanComment">
                                <label for="isCanComment" title="Замедляет поиск">
                                    Можно комментировать
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <div class="checkbox">
                                <input type="checkbox" id="isOfficial">
                                <label for="isOfficial">
                                    Неофициальное сообщество
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-2 hidden type2">
                            <div class="checkbox">
                                <input type="checkbox" id="isFuture">
                                <label for="isFuture">
                                    Budushie sobitiya
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-lg-8">
                <div class="well well-sm">
                    <%- include ../templates/grids/groupGrid.ejs %>
                </div>
            </div>
            <div class="col-xs-12  col-lg-4">
                <div class="well well-sm widget eventsHolder">
                    <div class="bootgrid-header">
                        <%- include ../parts/buttonsProcess.ejs %>
                    </div>
                    <div class="listHolder">
                        <ul class="list-group">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include ../templates/modalInput.ejs %>

<script src="javascripts/libs.js"></script>
<script src="javascripts/app.js"></script>

<script>
    $(function () {
        $('#country').on('change', function () {
            var $city = $('#city');
            $city.val('').focus();
            var cityTypeahead = $city.data('typeahead');
            if (cityTypeahead) {
                cityTypeahead.hide();
                cityTypeahead.country = this.selectedIndex + 1;
            }
        })

        $('.selectpicker').on('change', function (e) {
            var selectedIndex = this.selectedIndex;
            var $this = $(this);
            var id = $this.attr('id');
            var selector = $('.' + id + selectedIndex);
            $('[class^=' + id + ']').not(selector).toggleClass('hidden', true);
            selector.toggleClass('hidden');
        });
    });

</script>

</body>
</html>