<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ../parts/cabinetHead.ejs %>
</head>
<body>
<%- include ../parts/cabinetNavbar.ejs %>
<div class="canvas">
    <%- include ../parts/cabinetTopNavbar.ejs %>
    <%- include ../parts/overlay.ejs %>

    <div class="hidden" id="listType"><%= type %></div>

    <div class="container-fluid">
        <div class="row canFade">
            <div class="col-xs-12">
                <div class="well well-sm controls">
                    <label class="bold float">Настройки</label>
                    <div class="row nomargin form-group">
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <div>
                                <select class="selectpicker" data-style="btn-primary" data-width="100%" id="replaceSelector">
                                    <option>Заменить список</option>
                                    <option>Добавить в список</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row nomargin form-group">
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <label>Строка поиска</label>

                            <input type="text" class="form-control input-sm" id="q" value="Music">
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <label>Тип сообщества</label>

                            <div>
                                <select class="selectpicker" data-width="100%" id="type">
                                    <option>Группа</option>
                                    <option>Публичная страница</option>
                                    <option>Событие</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <label>Количество</label>

                            <div class="input-group spinner full-width">
                                <input type="text" class="form-control input-sm" id="count" value="20" max="1000">

                                <div class="input-group-btn-vertical">
                                    <button class="btn btn-default" type="button"><i
                                                class="glyphicon glyphicon-chevron-up"></i></button>
                                    <button class="btn btn-default" type="button"><i
                                                class="glyphicon glyphicon-chevron-down"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <label>Оффсет</label>
                            <input type="text" class="form-control input-sm" id="offset" value="0">
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <label>Количество участников от</label>

                            <div class="input-group spinner full-width">
                                <input type="text" class="form-control input-sm" id="minMembersCount"
                                       value="10">

                                <div class="input-group-btn-vertical">
                                    <button class="btn btn-default" type="button"><i
                                                class="glyphicon glyphicon-chevron-up"></i></button>
                                    <button class="btn btn-default" type="button"><i
                                                class="glyphicon glyphicon-chevron-down"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <label>Страна</label>
                            <% include ../parts/countryDropdown %>
                        </div>
                    </div>
                    <div class="row nomargin form-group">
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <div class="checkbox">
                                <input type="checkbox" id="isOpened">
                                <label for="isOpened">
                                    Открытая группа
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <div class="checkbox">
                                <input type="checkbox" id="isOpenWall">
                                <label for="isOpenWall">
                                    Открытая стена
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <div class="checkbox">
                                <input type="checkbox" id="isCanPost">
                                <label for="isCanPost">
                                    Можно постить
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <div class="checkbox">
                                <input type="checkbox" id="isCanComment">
                                <label for="isCanComment" title="Замедляет поиск">
                                    Можно комментировать
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <div class="checkbox">
                                <input type="checkbox" id="isOfficial">
                                <label for="isOfficial">
                                    Неофициальное сообщество
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-lg-8 canFade">
                <div class="well well-sm">
                    <label class="bold float">Прокси</label>
                    <table id="grid" class="table table-condensed table-hover table-striped" data-selection="true"
                           data-multi-select="true" data-row-select="true" data-keep-selection="true">
                        <thead>
                        <tr>
                            <th data-column-id="_id" data-identifier="true" data-type="string"
                                data-visible="false"
                                data-visible-in-selection="false"></th>
                            <th data-column-id="created" data-type="date" data-order="1"
                                data-visible="false"
                                data-visible-in-selection="false"></th>
                            <th data-formatter="groupLink" data-column-id="id" data-align="center"
                                data-sortable="true"
                                data-header-align="center"
                                data-width="100px" data-editable="true">Id
                            </th>
                            <th data-column-id="name" data-align="center"
                                data-sortable="true"
                                data-header-align="center"
                                data-width="100px" data-editable="false">Название
                            </th>
                            <th data-column-id="members_count"
                                data-align="center"
                                data-sortable="true"
                                data-header-align="center"
                                data-width="100px" data-editable="false">Кол-во участников
                            </th>
                            <th data-formatter="verified"  data-column-id="verified"
                                data-align="center"
                                data-sortable="true"
                                data-header-align="center"
                                data-width="100px" data-editable="false">Официальное
                            </th>
                            <th data-formatter="commandsNotAll" data-sortable="false"
                                data-align="center"
                                data-width="100px"
                                data-header-align="center"
                                data-visible-in-selection="false">Действия
                            </th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="col-xs-12 col-lg-4">
                <div class="well well-sm controls">
                    <label class="bold float">Выполнение</label>

                    <div class="form-group">
                        <%- include ../parts/eventButtons.ejs %>
                    </div>
                    <div class="list" id="eventsHolder"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include ../parts/modalIO.ejs %>
<script data-main="js/require/search" src="js/require.js"></script>

</body>
</html>