<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ../parts/cabinetHead.ejs %>
</head>

<body>


<%- include ../parts/cabinetMenu.ejs %>

<div class="canvas">

    <div class="hidden" id="accountId"><%= accounts[0].accountId %></div>
    <div class="hidden" id="processId"><%= processId %></div>

    <%- include ../parts/cabinetNavbar.ejs %>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="well well-sm container-fluid">
                    <h3>Текущие задачи</h3>
                    <hr>
                    <div id="tasksHolder">
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-success">
                                <div class="taskHolder">
                                    <div>
                                        <div id="accountHolder">
                                            <div class="img-thumbnail avatarHolder"
                                                 style="background-image: url('http://vk.com/images/camera_50.png');"></div>
                                        </div>
                                    </div>

                                    <div class="speechBox" style="">
                                        <div class="innerText">
                                            <label class="small">Название задания</label>
                                            <span class="small">Строка два</span>
                                        </div>

                                    </div>
                                    <div>
                                        <button id="startPauseButton" class="btn btn-default btn-sm"
                                                ><span
                                                    class="glyphicon glyphicon-pause"></span></button>
                                        <button id="stopButton" class="btn btn-default btn-sm"
                                                ><span
                                                    class="glyphicon glyphicon-stop"></span></button>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item list-group-item-info">Cras sit amet nibh libero</li>
                            <li class="list-group-item list-group-item-warning">Porta ac consectetur ac</li>
                            <li class="list-group-item list-group-item-danger">Vestibulum at eros</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="well well-sm container-fluid">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="well well-sm container-fluid">

                </div>
            </div>
        </div>
    </div>
</div>

<%- include ../templates/modalInput.ejs %>


<script src="javascripts/libs.js"></script>
<script src="javascripts/app.js"></script>


</body>
</html>
