<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ../parts/cabinetHead.ejs %>
</head>

<body>


<%- include ../parts/cabinetMenu.ejs %>

<div class="canvas">

    <div class="hidden" id="accountId"><%= accounts[0].accountId %></div>
    <div class="hidden" id="processId"><%= processId %></div>

    <%- include ../parts/cabinetNavbar.ejs %>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">

                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#tab1">Текущие задачи</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tab2">Звершенные задачи</a>
                    </li>
                </ul>
                <div class="tab-content widget tasksHolder">
                    <div id="tab1" class="tab-pane fade in active">

                    </div>
                    <div id="tab2" class="tab-pane fade">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-12 col-lg-8">
                                    <%- include ../templates/processGrid.ejs %>
                                </div>
                                <div class="col-xs-12 col-lg-4">
                                    <div class="well well-sm widget eventsHolder">

                                        <div>
                                            <ul class="list-group">
                                            </ul>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<%- include ../templates/modalInput.ejs %>


<script src="javascripts/libs.js"></script>
<script src="javascripts/app.js"></script>

<%- include ../templates/other/taskRow.ejs %>
<%- include ../templates/other/eventsList.ejs %>
<%- include ../templates/other/noProcessesTemplate.ejs %>

</body>
</html>
