<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ../parts/cabinetHead.ejs %>
</head>
<body>

<% var processId = 'listCreating' %>
<%- include ../parts/cabinetMenu.ejs %>

<div class="canvas">

    <%- include ../templates/overlay.ejs %>
    <%- include ../parts/cabinetNavbar.ejs %>

    <div class="container-fluid" id="mainContainer">


        <div class="row">
            <div class="col-xs-12 col-lg-4">
                <div class="well well-sm widget container-fluid">


                    <div class="row">

                        <div class="col-xs-6">
                            <div id="accountHolder">

                            </div>
                        </div>

                        <div class="col-xs-6">
                            <label class="small control-label" data-toggle="tooltip" data-placement="top" title=""
                                   data-original-title="Какой список использовать">Откуда</label>


                            <select class="selectpicker" data-width="100%" id="fromSelector">
                                <option>ЛЮДИ</option>
                                <option>ГРУППЫ</option>
                            </select>

                        </div>

                        <div class="col-xs-6">
                            <label class="small control-label" data-toggle="tooltip" data-placement="top" title=""
                                   data-original-title="Какой список использовать">Откуда</label>


                            <select class="selectpicker" data-width="100%" id="targetSelect">
                                <option>Все</option>
                                <option>Загруженные</option>
                                <option>Выделенные</option>
                            </select>

                        </div>


                        <div class="col-xs-6">
                            <label class="small control-label" data-toggle="tooltip" data-placement="top" title=""
                                   data-original-title="Какой список использовать">Взять</label>

                            <select class="selectpicker" data-width="100%" id="whatSelector">
                                <option>Пост</option>
                                <option>Фотографию</option>
                                <option>Videozapis'</option>
                            </select>
                        </div>




                        <div class="col-xs-6">
                            <label class="small control-label" data-toggle="tooltip" data-placement="top" title=""
                                   data-original-title="Какой список использовать">Какой</label>
                            <select class="selectpicker" data-width="100%" id="exactSelector">
                                <option>Последний</option>
                                <option>Случайный</option>
                                <option>Найти</option>
                            </select>
                        </div>


                        <div class="exactSelector1 hidden col-xs-6">
                            <label class="small control-label" data-toggle="tooltip" data-placement="top" title=""
                                   data-original-title="Какой список использовать">Из последних</label>

                            <div class="input-group spinner full-width">
                                <input type="text" class="form-control hours"
                                       id="fromLatest"
                                       data-settings="true" value="10">

                                <div class="input-group-btn-vertical">
                                    <button class="btn btn-default" type="button"><i
                                                class="glyphicon glyphicon-chevron-up"></i></button>
                                    <button class="btn btn-default" type="button"><i
                                                class="glyphicon glyphicon-chevron-down"></i>
                                    </button>
                                </div>
                            </div>
                        </div>


                        <div class="exactSelector2 hidden col-xs-6">
                            <label>Поисковая строка</label>
                            <input type="text" class="form-control input-sm" id="queryString"/>
                        </div>

                        <div class="whatSelector0  col-xs-6">
                            <label class="small control-label" ></label>

                            <div class="checkbox">
                                <input type="checkbox" id="onlyOwner">
                                <label for="onlyOwner">
                                    Только владельца
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-lg-8">
                <div class="fromSelector0 well well-sm">
                    <%- include ../templates/grids/personGrid.ejs %>
                </div>
                <div class="fromSelector1 well well-sm hidden">
                    <%- include ../templates/grids/groupGrid.ejs %>
                </div>
            </div>

        </div>


        <div class="row">
            <div class="col-xs-12 col-lg-8">
                <div class="well well-sm">
                    <%- include ../templates/grids/postGrid.ejs %>
                </div>
            </div>
            <div class="col-xs-12  col-lg-4">
                <div class="well well-sm widget eventsHolder">
                    <div class="bootgrid-header clearfix">
                        <%- include ../parts/buttonsProcess.ejs %>
                    </div>
                    <div class="listHolder">
                        <ul class="list-group">
                        </ul>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>


<%- include ../templates/modalInput.ejs %>

<script src="javascripts/libs.js"></script>
<script src="javascripts/app.js"></script>

<%- include ../templates/other/accountHolder.ejs %>

<script>
    $(function () {

        $('.selectpicker').on('change', function (e) {
            var selectedIndex = this.selectedIndex;
            var $this = $(this);
            var id = $this.attr('id');
            var selector = $('.' + id + selectedIndex);
            $('[class^=' + id + ']').not(selector).toggleClass('hidden', true);
            selector.toggleClass('hidden');
        });
    });

</script>

</body>
</html>