<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ../parts/cabinetHead.ejs %>
</head>
<body>

<% var processId = 'listCreating' %>
<%- include ../parts/cabinetMenu.ejs %>

<div class="canvas">

    <%- include ../templates/overlay.ejs %>
    <%- include ../parts/cabinetNavbar.ejs %>

    <div class="container-fluid" id="mainContainer">


        <div class="row">
            <div class="col-xs-12 col-lg-4">
                <div class="well well-sm widget">
                    <label class="bold float">Настройки</label>

                    <div class="row nomargin form-group">
                        <div class="col-xs-6">
                            <label>Откуда <i class="fa fa-question-circle"
                                             title="Источник данных, пользователи, таблица слева"></i></label>

                            <div>
                                <select class="selectpicker full-width"
                                        id="fromSelector">
                                    <option>Выделенные</option>
                                    <option>Случайные</option>
                                    <option>По порядку</option>
                                    <option>Указать ID</option>

                                </select>
                            </div>
                        </div>
                        <div class="fromSelector3 hidden">
                            <div class="col-xs-6">
                                <label>ID <i class="fa fa-question-circle"
                                             title="ID пользователей через запятую"></i></label>
                                <textarea class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row nomargin form-group">
                        <div class="col-xs-6">
                            <label>Взять</label>
                            <select class="selectpicker" data-width="100%" id="typeSelector">
                                <option>Пост</option>
                                <option>Фотографию</option>
                            </select>
                        </div>
                        <div class="typeSelector0 hidden">
                            <div class="col-xs-6">
                                <label></label>

                                <div class="checkbox">
                                    <input type="checkbox" id="onlyOwner">
                                    <label for="onlyOwner">
                                        Только владельца
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row nomargin form-group">
                        <div class="col-xs-6">
                            <label>Какой</label>
                            <select class="selectpicker" data-width="100%" id="targetSelector">
                                <option>Последний</option>
                                <option>Случайный</option>
                                <option>Найти</option>
                            </select>
                        </div>

                        <div class="targetSelector1 hidden">
                            <div class="col-xs-6">
                                <label>Из последних</label>

                                <div class="input-group spinner full-width">
                                    <input type="text" class="form-control input-sm hours"
                                           id="atTimeHours"
                                           data-settings="true" value="10">

                                    <div class="input-group-btn-vertical">
                                        <button class="btn btn-default" type="button"><i
                                                    class="fa fa-chevron-up"></i></button>
                                        <button class="btn btn-default" type="button"><i
                                                    class="fa fa-chevron-down"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="targetSelector2 hidden">
                            <div class="col-xs-6">
                                <label>Поисковая строка</label>
                                <input type="text" class="form-control input-sm"/>
                            </div>
                        </div>
                    </div>
                    <div class="row nomargin form-group">
                        <div class="col-xs-6">
                            <label>Новый список</label>

                            <div>
                                <select class="selectpicker" data-style="btn-primary" data-width="100%"
                                        id="replaceSelector">
                                    <option>Заменить список</option>
                                    <option>Добавить в список</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12 col-lg-8">
                <div class="well well-sm">
                    <%- include ../templates/grids/groupGrid.ejs %>
                </div>
            </div>
            <div class="col-xs-12  col-lg-4">
                <div class="well well-sm widget eventsHolder">
                    <div class="bootgrid-header">
                        <%- include ../parts/buttonsProcess.ejs %>
                    </div>
                    <div class="listHolder">
                        <ul class="list-group">
                        </ul>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>


<%- include ../templates/modalInput.ejs %>

<script src="javascripts/libs.js"></script>
<script src="javascripts/app.js"></script>

<script>
    $(function () {

        $('.selectpicker').on('change', function (e) {
            var selectedIndex = this.selectedIndex;
            var $this = $(this);
            var id = $this.attr('id');
            var selector = $('.' + id + selectedIndex);
            $('[class^=' + id + ']').not(selector).toggleClass('hidden', true);
            selector.toggleClass('hidden');
        });
    });

</script>

</body>
</html>