<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ../parts/cabinetHead.ejs %>
</head>
<body>

<% var processId = 'searchPeoples' %>
<%- include ../parts/cabinetMenu.ejs %>

<div class="canvas">

    <%- include ../templates/overlay.ejs %>
    <%- include ../parts/cabinetNavbar.ejs %>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="well well-sm container-fluid">
                    <div class="row">
                        <!--<div class="col-xs-6 col-sm-3 col-md-2">
                            <label class="small control-label" data-toggle="tooltip" data-placement="top" title=""
                                   data-original-title="Заменить существующий список">Настройки</label>
                            <select class="selectpicker" data-style="btn-primary" data-width="100%"
                                    id="replaceSelector">
                                <option>Заменить список</option>
                                <option>Добавить в список</option>
                            </select>
                        </div>-->
                        <!-- <div class="col-xs-6 col-sm-3 col-md-2">
                             <label class="small control-label" data-toggle="tooltip" data-placement="top" title=""
                                    data-original-title="Искать среди друзей или глобально">Искать</label>
                             <select class="selectpicker" data-width="100%" id="searchSelector">
                                 <option>Поиск</option>
                                 <option>Мои друзья</option>
                             </select>
                         </div>-->
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <div class="form-group">
                                <label class="small control-label" data-toggle="tooltip" data-placement="top" title=""
                                       data-original-title="Искать среди друзей или глобально">Строка поиска</label>

                                <input type="text" class="form-control" id="q" value="Иван"/>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <label class="small control-label" data-toggle="tooltip" data-placement="top" title=""
                                   data-original-title="Искать среди друзей или глобально">Сортировать по</label>

                            <select class="selectpicker" data-width="100%" id="sort">
                                <option>Популярность</option>
                                <option>Дата регистрации</option>
                            </select>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <div class="form-group">
                                <label class="small control-label" data-toggle="tooltip" data-placement="top" title=""
                                       data-original-title="Искать среди друзей или глобально">Оффсет</label>

                                <div class="input-group spinner full-width">
                                    <input type="text" class="form-control" id="offset"
                                           value="0">

                                    <div class="input-group-btn-vertical">
                                        <button class="btn btn-default" type="button"><i
                                                    class="glyphicon glyphicon-chevron-up"></i></button>
                                        <button class="btn btn-default" type="button"><i
                                                    class="glyphicon glyphicon-chevron-down"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <div class="form-group">
                                <label class="small control-label" data-toggle="tooltip" data-placement="top" title=""
                                       data-original-title="Искать среди друзей или глобально">Количество</label>

                                <div class="input-group spinner full-width">
                                    <input type="text" class="form-control" id="count" value="20">

                                    <div class="input-group-btn-vertical">
                                        <button class="btn btn-default" type="button"><i
                                                    class="glyphicon glyphicon-chevron-up"></i></button>
                                        <button class="btn btn-default" type="button"><i
                                                    class="glyphicon glyphicon-chevron-down"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-2">

                            <label class="small control-label" data-toggle="tooltip" data-placement="top" title=""
                                   data-original-title="Искать среди друзей или глобально">Страна</label>
                            <%- include ../parts/countryDropdown.ejs %>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <div class="form-group">
                                <label class="small control-label" data-toggle="tooltip" data-placement="top" title=""
                                       data-original-title="Искать среди друзей или глобально">Город</label>
                                <input class="form-control" data-provide="typeahead" data-delay="1000" data-type="city"
                                       data-auto-select="true" type="typeahead" placeholder="Город"
                                       id="city">
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <label class="small control-label" data-toggle="tooltip" data-placement="top" title=""
                                   data-original-title="Искать среди друзей или глобально">Пол</label>
                            <select class="selectpicker" data-width="100%" id="sex">
                                <option>Любой</option>
                                <option>Женский</option>
                                <option>Мужской</option>
                            </select>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <label class="small control-label" data-toggle="tooltip" data-placement="top" title=""
                                   data-original-title="Искать среди друзей или глобально">Семейное
                                положение</label>
                            <select class="selectpicker" data-width="100%" id="status">
                                <option>Ne vibrano</option>
                                <option>Не женат</option>
                                <option>Встречается</option>
                                <option>Помолвлен</option>
                                <option>Женат</option>
                                <option>Влюблён</option>
                                <option>В активном поиске</option>
                            </select>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <div class="form-group">
                                <label class="small control-label" data-toggle="tooltip" data-placement="top" title=""
                                       data-original-title="Искать среди друзей или глобально">Возраст от</label>

                                <div class="input-group spinner full-width">
                                    <input type="text" class="form-control" id="age_from"
                                           value="18">

                                    <div class="input-group-btn-vertical">
                                        <button class="btn btn-default" type="button"><i
                                                    class="glyphicon glyphicon-chevron-up"></i></button>
                                        <button class="btn btn-default" type="button"><i
                                                    class="glyphicon glyphicon-chevron-down"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <div class="form-group">
                                <label class="small control-label" data-toggle="tooltip" data-placement="top" title=""
                                       data-original-title="Искать среди друзей или глобально">До</label>

                                <div class="input-group spinner full-width">
                                    <input type="text" class="form-control" id="age_to"
                                           value="24">

                                    <div class="input-group-btn-vertical">
                                        <button class="btn btn-default" type="button"><i
                                                    class="glyphicon glyphicon-chevron-up"></i></button>
                                        <button class="btn btn-default" type="button"><i
                                                    class="glyphicon glyphicon-chevron-down"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <div class="form-group">
                                <label class="small control-label" data-toggle="tooltip" data-placement="top" title=""
                                       data-original-title="Искать среди друзей или глобально">Интересы</label>
                                <input type="text" class="form-control" id="interests">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <div class="checkbox">
                                <input type="checkbox" id="online">
                                <label for="online">
                                    Онлайн
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <div class="checkbox">
                                <input type="checkbox" id="has_photo">
                                <label for="has_photo">
                                    С фото
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <div class="checkbox">
                                <input type="checkbox" id="from_list">
                                <label for="from_list">
                                    Поиск среди друзей
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <div class="checkbox">
                                <input type="checkbox" id="canWritePrivateMsg">
                                <label for="canWritePrivateMsg">
                                    Можно написать
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-lg-8">
                <div class="well well-sm">
                    <%- include ../templates/grids/personGrid.ejs %>
                </div>
            </div>
            <div class="col-xs-12  col-lg-4">
                <div class="well well-sm widget eventsHolder">
                    <div class="bootgrid-header clearfix">
                        <%- include ../parts/buttonsProcess.ejs %>
                    </div>
                    <div class="listHolder">
                        <ul class="list-group">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


<%- include ../templates/modalInput.ejs %>


<script src="javascripts/libs.js"></script>
<script src="javascripts/app.js"></script>

<%- include ../templates/other/accountHolder.ejs %>

<script>
    $(function () {
        $('#country').on('change', function () {
            var $city = $('#city');
            $city.val('').focus();
            var cityTypeahead = $city.data('typeahead');
            if (cityTypeahead) {
                cityTypeahead.hide();
                cityTypeahead.country = this.selectedIndex + 1;
            }
        })
    });

</script>

</body>
</html>