<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ../parts/cabinetHead.ejs %>
</head>

<body>

<%- include ../parts/cabinetMenu.ejs %>

<div class="hidden" id="accountId"><%= accounts[0].accountId %></div>
<div class="hidden" id="processId"><%= processId %></div>


<div class="canvas">

    <%- include ../templates/overlay.ejs %>

    <%- include ../parts/cabinetNavbar.ejs %>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="well well-sm container-fluid">
                    <div class="row">

                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <label>Проверять</label>
                            <select class="selectpicker" data-width="100%" id="targetSelect">
                                <option>Все</option>
                                <option>Загруженные</option>
                                <option>Выделенные</option>
                            </select>
                        </div>


                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <div class="form-group">
                                <label class="control-label">Адрес проверки</label>
                                <input type="text" class="form-control" id="urlInput" value="http://vk.com"
                                       maxlength="100">
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <label>Таймаут, сек</label>

                            <div class="input-group spinner full-width">
                                <input type="text" class="form-control" id="timeoutInput" value="2" max="5">

                                <div class="input-group-btn-vertical">
                                    <button class="btn btn-default" type="button"><i
                                                class="glyphicon glyphicon-chevron-up"></i></button>
                                    <button class="btn btn-default" type="button"><i
                                                class="glyphicon glyphicon-chevron-down"></i></button>
                                </div>
                            </div>

                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <label></label>

                            <div class="checkbox">
                                <input type="checkbox" id="deleteIfWrong" data-settings="true">
                                <label for="deleteIfWrong">
                                    Удалять невалидные
                                </label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-lg-8">
                <div class="well well-sm">
                    <%- include ../templates/proxyGrid.ejs %>
                </div>
            </div>
            <div class="col-xs-12  col-lg-4">
                <div class="well well-sm widget eventsHolder">
                    <div class="bootgrid-header">
                        <%- include ../parts/buttonsProcess.ejs %>
                    </div>
                    <div>
                        <ul class="list-group">
                        </ul>
                    </div>

                </div>
            </div>
        </div>


    </div>
</div>

<%- include ../templates/modalInput.ejs %>


<script src="javascripts/libs.js"></script>
<script src="javascripts/app.js"></script>

</body>
</html>
